.eachgrid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 275px);
}
.imgcon {
  display: flex;
  justify-content: center;
}
.eachcon {
  padding: 0px 200px 0px 200px;
}
.eachtitle {
  text-transform: capitalize;
  font-size: 35px;
}
.image {
  height: 500px;
}
.textcon {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}
.avacontainer {
  align-items: center;
  display: flex;
}

.eachbtn {
  padding: 10px 35px 10px 35px;
  font-size: 20px;
  text-transform: capitalize;
  margin-left: 30px;
  border: none;
  color: white;
  background-color: rgb(43, 128, 255);
  border-radius: 10px;
}
.eachbtn:hover {
  opacity: 0.7;
}
.money {
  font-size: 25px;
  font-weight: 600;
}
.dash {
  margin: 5px;
}
.gridcon {
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size: 25px;
}
.icons {
  font-size: 35px;
}
.iconname {
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 5px;
}
